<div class="col-sm-4">
  <div class="card">
  <div class="card-header">
    <legend class="">Log in</legend>
   </div>
    <div class="card-block">
      <%= simple_form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
      <%= f.input :email %>
      <%= f.input :password %>
      <% if devise_mapping.rememberable? %>
      <div>
        <%= f.input :remember_me, as: :boolean %>
      </div>
      <% end %>
      <div class="form-actions">
        <%= f.submit 'Log in', class: 'btn btn-secondary' %>
      </div>
      <% end %>
    </div>
  </div>
  <%= render "devise/shared/links" %>
</div>
<div class="col-sm-8">
  <h2>Sign in is easy and secure</h2>
</div>
</div>
